<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>App Estación</title>
	<link rel="stylesheet" type="text/css" href="../static/css/estacion.css">
</head>
<body>

	<div id="landingWrapper">
		<div id="landingHeader">
			<h2>APP ESTACIÓN</h2>
			<div id="landingWelcome">
				<h3>Bienvenido a App Estación</h3>
			</div>
		</div>
		<div id="landingBody">
			<p>App estación es una aplicación web que tien como objetivo bien-informar a los usuarios sobre los cambios climáticos en su región o cualquier otra que elijan. Los detalles dados por App estación son: Temperatura, mínima y máxima; Viento, velocidad en km/h; Humedad, informado en forma de porcentaje; Incendios, informado en forma de porcentaje</p>
			<p>Puedes ingresar al panel de app estación aquí <a href="{{URL_APP}}/panel">Panel</a></p> 
		</div>
	</div>

</body>
</html>